@import "~/static/style/grid.scss";

@font-face {
  font-family: "Editorial";
  src: url("../type/editorial.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Graphik";
  src: url("../type/graphik.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Duospace";
  src: url("../type/duospace.woff2") format("woff2");
  font-display: block;
}

.font-prim {
  font-family: "Editorial", var(--system-ui);
}
.font-sec {
  font-family: var(--monospace);
}
.font-body {
  font-family: "Graphik", var(--system-ui);
}

// .font-sec { font-family: 'Duospace', var(--monospace); }

.bold {
  -webkit-text-stroke: 0.2px var(--gravity);
}
.uc {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
